<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :app_name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :app_author %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc, id: :app_desc %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :app_genre %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :app_url %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :app_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
