<p id="notice"><%= notice %></p>

<h1>
<%= @title = "All Apps" %>
<a id="star">Star</a>
</h1>

<% @apps.each do |app| %>
  <div class="app">
    <%= link_to( app.author+"/"+app.appid , app) %>
    <div class="app-desc"><strong><%= app.name %></strong><br><%= app.desc %></div>
  </div>
<% end %>