<p id="notice"><%= notice %></p>
<% @title = @app.author+"/"+@app.appid %>

<h1>
<%= link_to( @app.author, "/apps/search?q="+@app.author ) %>
/
<strong><%= link_to( @app.appid ) %></strong>
<a id="star" onclick="star()">Star</a>
</h1>

<div class="main">
  <article>
    <%= link_to("ダウンロード", {controller: "apps", action: "download"}, class: "button") %>
    <div class="app-name"><%= @app.name %></div>
    <div class="desc">
      <% if( @app.desc.present? ) %>
        <%= @app.desc %>
      <% else %>
        説明はありません。
      <% end %>
    </div>
    アプリの作者<br>
    <%= link_to( @app.author, "/apps/search?q="+@app.author ) %><br>
    ジャンル<br>
    <% if( @app.genre.present? ) %>
      <%= @app.genre %>
    <% else %>
      未登録
    <% end %>
    <br>
    作者のWebサイト<br>
    <% if( @app.url.present? ) %>
      <%= link_to( "Webサイトへアクセス", @app.url ) %>
    <% else %>
      未登録
    <% end %><br>
    アプリの操作<br>
    <%= link_to '編集', edit_app_path(@app.appid) %> / <%= link_to '削除', @app.appid, method: :delete, data: { confirm: '本当にアプリケーションを削除しますか？(この操作は取り消せません)' } %><br>
  </article>
</div>
