<!DOCTYPE html>
<html>
  <head>
    <title>Kithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= link_to( image_tag("logo.png"), :root ) %>
    <%= text_field_tag( "word", "", placeholder: "検索" ) %>
    </header>
    <%= yield %>
  </body>
</html>
